{% extends 'base.html' %}
{% block content %}
    <main role="main">
        <div class="content ">
            <div class="catalogue overflow">
                <div class="catalogue__header">
                    <div class="breadcrumbs">
                        <div class="breadcrumbs__item"><a class="breadcrumbs__href"
                                                          href="/">Главная</a>&nbsp;/&nbsp;
                        </div>
                        <div class="breadcrumbs__item">Сериалы</div>
                    </div>
                    <h1>Сериалы онлайн</h1>

                    <div>
                    </div>
                </div>
                <div>
                    <div class="catalogue__wrapper"><a
                            class="card-item card-item-series"
                            href="/watch/series_25157_matchroom-terri-harper-vs-tasha-dzhonas">
                        <div class="card-item__image">
                            <picture class="card-item__image-img" data-lazy-loaded="">
                                <source media="(max-width: 768px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/140x100/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/8/69/cdc9d92fcd10aab698e7642c96674869-44517-19ff5964e0cb4fc1aa375059c808b059.jpg, https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/8/69/cdc9d92fcd10aab698e7642c96674869-44517-19ff5964e0cb4fc1aa375059c808b059.jpg 2x">
                                <source media="(min-width: 769px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/8/69/cdc9d92fcd10aab698e7642c96674869-44517-19ff5964e0cb4fc1aa375059c808b059.jpg, https://s80658.cdn.ngenix.net/overlay/572x410/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/8/69/cdc9d92fcd10aab698e7642c96674869-44517-19ff5964e0cb4fc1aa375059c808b059.jpg 2x">
                                <img alt="Matchroom. Терри Харпер vs Таша Джонас"
                                     src="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/8/69/cdc9d92fcd10aab698e7642c96674869-44517-19ff5964e0cb4fc1aa375059c808b059.jpg">
                            </picture>
                        </div>
                        <div class="card-item__title">Matchroom. Терри Харпер vs Таша
                            Джонас
                        </div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24811_sobyitiya-proshedshej-nedeli-s-dzhonom-oliverom">
                        <div class="card-item__image">
                            <picture class="card-item__image-img" data-lazy-loaded="">
                                <source media="(max-width: 768px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/140x100/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/c/48/b7f5ee19b3aa75c08bb792739e61fc48-44126-c8c6fccdbdcf4a32ba8ecf5386b1a318.jpg, https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/c/48/b7f5ee19b3aa75c08bb792739e61fc48-44126-c8c6fccdbdcf4a32ba8ecf5386b1a318.jpg 2x">
                                <source media="(min-width: 769px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/c/48/b7f5ee19b3aa75c08bb792739e61fc48-44126-c8c6fccdbdcf4a32ba8ecf5386b1a318.jpg, https://s80658.cdn.ngenix.net/overlay/572x410/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/c/48/b7f5ee19b3aa75c08bb792739e61fc48-44126-c8c6fccdbdcf4a32ba8ecf5386b1a318.jpg 2x">
                                <img alt="События прошедшей недели с Джоном Оливером"
                                     src="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/c/48/b7f5ee19b3aa75c08bb792739e61fc48-44126-c8c6fccdbdcf4a32ba8ecf5386b1a318.jpg">
                            </picture>
                        </div>
                        <div class="card-item__title">События прошедшей недели с Джоном
                            Оливером
                        </div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24925_lzhets">
                        <div class="card-item__image">
                            <picture class="card-item__image-img" data-lazy-loaded="">
                                <source media="(max-width: 768px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/140x100/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/c/6e/07319b10f9f736d08b5ba27c07d8bc6e-43819-e6bc89cef6004710bf8a20e795041419.jpg, https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/c/6e/07319b10f9f736d08b5ba27c07d8bc6e-43819-e6bc89cef6004710bf8a20e795041419.jpg 2x">
                                <source media="(min-width: 769px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/c/6e/07319b10f9f736d08b5ba27c07d8bc6e-43819-e6bc89cef6004710bf8a20e795041419.jpg, https://s80658.cdn.ngenix.net/overlay/572x410/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/c/6e/07319b10f9f736d08b5ba27c07d8bc6e-43819-e6bc89cef6004710bf8a20e795041419.jpg 2x">
                                <img alt="Лжец"
                                     src="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/c/6e/07319b10f9f736d08b5ba27c07d8bc6e-43819-e6bc89cef6004710bf8a20e795041419.jpg">
                            </picture>
                        </div>
                        <div class="card-item__title">Лжец</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24990_bezumtsyi">
                        <div class="card-item__image">
                            <picture class="card-item__image-img" data-lazy-loaded="">
                                <source media="(max-width: 768px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/140x100/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/a/1e/b2acf750803d0ae91f870dbb97494a1e-43854-4476bf29db114d25b73409caf426de77.jpg, https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/a/1e/b2acf750803d0ae91f870dbb97494a1e-43854-4476bf29db114d25b73409caf426de77.jpg 2x">
                                <source media="(min-width: 769px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/a/1e/b2acf750803d0ae91f870dbb97494a1e-43854-4476bf29db114d25b73409caf426de77.jpg, https://s80658.cdn.ngenix.net/overlay/572x410/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/a/1e/b2acf750803d0ae91f870dbb97494a1e-43854-4476bf29db114d25b73409caf426de77.jpg 2x">
                                <img alt="Безумцы"
                                     src="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/a/1e/b2acf750803d0ae91f870dbb97494a1e-43854-4476bf29db114d25b73409caf426de77.jpg">
                            </picture>
                        </div>
                        <div class="card-item__title">Безумцы</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_25038_korolevstvo">
                        <div class="card-item__image">
                            <picture class="card-item__image-img" data-lazy-loaded="">
                                <source media="(max-width: 768px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/140x100/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/b/1b/f5424a7d0f8be1f4c96e5415d21a3b1b-43900-70c7570963264209a0ca98da281f5098.jpg, https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/b/1b/f5424a7d0f8be1f4c96e5415d21a3b1b-43900-70c7570963264209a0ca98da281f5098.jpg 2x">
                                <source media="(min-width: 769px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/b/1b/f5424a7d0f8be1f4c96e5415d21a3b1b-43900-70c7570963264209a0ca98da281f5098.jpg, https://s80658.cdn.ngenix.net/overlay/572x410/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/b/1b/f5424a7d0f8be1f4c96e5415d21a3b1b-43900-70c7570963264209a0ca98da281f5098.jpg 2x">
                                <img alt="Королевство"
                                     src="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/b/1b/f5424a7d0f8be1f4c96e5415d21a3b1b-43900-70c7570963264209a0ca98da281f5098.jpg">
                            </picture>
                        </div>
                        <div class="card-item__title">Королевство</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24898_strana-lavkrafta">
                        <div class="card-item__image">
                            <picture class="card-item__image-img" data-lazy-loaded="">
                                <source media="(max-width: 768px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/140x100/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/6/5b/3557a1b3794b68d64616a62052c9365b-40320-e21a81f0af474a528eb1374ced3cef71.jpg, https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/6/5b/3557a1b3794b68d64616a62052c9365b-40320-e21a81f0af474a528eb1374ced3cef71.jpg 2x">
                                <source media="(min-width: 769px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/6/5b/3557a1b3794b68d64616a62052c9365b-40320-e21a81f0af474a528eb1374ced3cef71.jpg, https://s80658.cdn.ngenix.net/overlay/572x410/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/6/5b/3557a1b3794b68d64616a62052c9365b-40320-e21a81f0af474a528eb1374ced3cef71.jpg 2x">
                                <img alt="Страна Лавкрафта"
                                     src="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/05/a63c90cc3684ad8b0a2176a6a8fe9005-10-38914e16197d4eeb8f9f1a31b0845452.png/_stor_/cms/content-contentasset/6/5b/3557a1b3794b68d64616a62052c9365b-40320-e21a81f0af474a528eb1374ced3cef71.jpg">
                            </picture>
                        </div>
                        <div class="card-item__title">Страна Лавкрафта</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_23586_tretij-den">
                        <div class="card-item__image">
                            <picture class="card-item__image-img" data-lazy-loaded="">
                                <source media="(max-width: 768px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/140x100/_stor_/cms/content-badge/0/34/74da4121dc1c0ed2a8e5b0741f824034-11-77fd1d9b025b4b2881e3b7bfd46ffb8a.png/_stor_/cms/content-contentasset/5/5f/a3fe6292e4909b1973dd81a93969955f-22907-614dc1c149be4d20b920529ffbc7755c.jpg, https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/34/74da4121dc1c0ed2a8e5b0741f824034-11-77fd1d9b025b4b2881e3b7bfd46ffb8a.png/_stor_/cms/content-contentasset/5/5f/a3fe6292e4909b1973dd81a93969955f-22907-614dc1c149be4d20b920529ffbc7755c.jpg 2x">
                                <source media="(min-width: 769px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/34/74da4121dc1c0ed2a8e5b0741f824034-11-77fd1d9b025b4b2881e3b7bfd46ffb8a.png/_stor_/cms/content-contentasset/5/5f/a3fe6292e4909b1973dd81a93969955f-22907-614dc1c149be4d20b920529ffbc7755c.jpg, https://s80658.cdn.ngenix.net/overlay/572x410/_stor_/cms/content-badge/0/34/74da4121dc1c0ed2a8e5b0741f824034-11-77fd1d9b025b4b2881e3b7bfd46ffb8a.png/_stor_/cms/content-contentasset/5/5f/a3fe6292e4909b1973dd81a93969955f-22907-614dc1c149be4d20b920529ffbc7755c.jpg 2x">
                                <img alt="Третий день"
                                     src="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/34/74da4121dc1c0ed2a8e5b0741f824034-11-77fd1d9b025b4b2881e3b7bfd46ffb8a.png/_stor_/cms/content-contentasset/5/5f/a3fe6292e4909b1973dd81a93969955f-22907-614dc1c149be4d20b920529ffbc7755c.jpg">
                            </picture>
                        </div>
                        <div class="card-item__title">Третий день</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_23575_otyigrat-nazad">
                        <div class="card-item__image">
                            <picture class="card-item__image-img" data-lazy-loaded="">
                                <source media="(max-width: 768px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/140x100/_stor_/cms/content-badge/0/34/74da4121dc1c0ed2a8e5b0741f824034-11-77fd1d9b025b4b2881e3b7bfd46ffb8a.png/_stor_/cms/content-contentasset/4/df/1ba14296e3269dd320edbfe39ddf54df-22794-40ecc4d065e0498c838c8bcaccc9bc71.jpg, https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/34/74da4121dc1c0ed2a8e5b0741f824034-11-77fd1d9b025b4b2881e3b7bfd46ffb8a.png/_stor_/cms/content-contentasset/4/df/1ba14296e3269dd320edbfe39ddf54df-22794-40ecc4d065e0498c838c8bcaccc9bc71.jpg 2x">
                                <source media="(min-width: 769px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/34/74da4121dc1c0ed2a8e5b0741f824034-11-77fd1d9b025b4b2881e3b7bfd46ffb8a.png/_stor_/cms/content-contentasset/4/df/1ba14296e3269dd320edbfe39ddf54df-22794-40ecc4d065e0498c838c8bcaccc9bc71.jpg, https://s80658.cdn.ngenix.net/overlay/572x410/_stor_/cms/content-badge/0/34/74da4121dc1c0ed2a8e5b0741f824034-11-77fd1d9b025b4b2881e3b7bfd46ffb8a.png/_stor_/cms/content-contentasset/4/df/1ba14296e3269dd320edbfe39ddf54df-22794-40ecc4d065e0498c838c8bcaccc9bc71.jpg 2x">
                                <img alt="Отыграть назад"
                                     src="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/0/34/74da4121dc1c0ed2a8e5b0741f824034-11-77fd1d9b025b4b2881e3b7bfd46ffb8a.png/_stor_/cms/content-contentasset/4/df/1ba14296e3269dd320edbfe39ddf54df-22794-40ecc4d065e0498c838c8bcaccc9bc71.jpg">
                            </picture>
                        </div>
                        <div class="card-item__title">Отыграть назад</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_25030_matchroom-sem-eggington-vs-ted-chizmen">
                        <div class="card-item__image">
                            <picture class="card-item__image-img" data-lazy-loaded="">
                                <source media="(max-width: 768px)"
                                        srcset="https://s80658.cdn.ngenix.net/resize/140x100/_stor_/cms/content-contentasset/0/35/558a13be9b830e6199346c8f349d2035-43957-efc441d546254e23a47376f6ae17544c.jpg, https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/0/35/558a13be9b830e6199346c8f349d2035-43957-efc441d546254e23a47376f6ae17544c.jpg 2x">
                                <source media="(min-width: 769px)"
                                        srcset="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/0/35/558a13be9b830e6199346c8f349d2035-43957-efc441d546254e23a47376f6ae17544c.jpg, https://s80658.cdn.ngenix.net/resize/572x410/_stor_/cms/content-contentasset/0/35/558a13be9b830e6199346c8f349d2035-43957-efc441d546254e23a47376f6ae17544c.jpg 2x">
                                <img alt="Matchroom. Сэм Эггингтон vs Тед Чизмэн"
                                     src="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/0/35/558a13be9b830e6199346c8f349d2035-43957-efc441d546254e23a47376f6ae17544c.jpg">
                            </picture>
                        </div>
                        <div class="card-item__title">Matchroom. Сэм Эггингтон vs Тед
                            Чизмэн
                        </div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24910_dryan">
                        <div class="card-item__image">
                            <picture class="card-item__image-img" data-lazy-loaded="">
                                <source media="(max-width: 768px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/140x100/_stor_/cms/content-badge/1/64/8dd6bb7329a71449b0a1b292b5999164-12-6818dcbe627c4ddcbfb498a07d514f75.png/_stor_/cms/content-contentasset/c/60/1d4a9a2d4edfc6e433761b05f8ab4c60-42015-9b3846ad52ec498db28560cb95bb5bc4.jpg, https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/1/64/8dd6bb7329a71449b0a1b292b5999164-12-6818dcbe627c4ddcbfb498a07d514f75.png/_stor_/cms/content-contentasset/c/60/1d4a9a2d4edfc6e433761b05f8ab4c60-42015-9b3846ad52ec498db28560cb95bb5bc4.jpg 2x">
                                <source media="(min-width: 769px)"
                                        srcset="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/1/64/8dd6bb7329a71449b0a1b292b5999164-12-6818dcbe627c4ddcbfb498a07d514f75.png/_stor_/cms/content-contentasset/c/60/1d4a9a2d4edfc6e433761b05f8ab4c60-42015-9b3846ad52ec498db28560cb95bb5bc4.jpg, https://s80658.cdn.ngenix.net/overlay/572x410/_stor_/cms/content-badge/1/64/8dd6bb7329a71449b0a1b292b5999164-12-6818dcbe627c4ddcbfb498a07d514f75.png/_stor_/cms/content-contentasset/c/60/1d4a9a2d4edfc6e433761b05f8ab4c60-42015-9b3846ad52ec498db28560cb95bb5bc4.jpg 2x">
                                <img alt="Дрянь"
                                     src="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/1/64/8dd6bb7329a71449b0a1b292b5999164-12-6818dcbe627c4ddcbfb498a07d514f75.png/_stor_/cms/content-contentasset/c/60/1d4a9a2d4edfc6e433761b05f8ab4c60-42015-9b3846ad52ec498db28560cb95bb5bc4.jpg">
                            </picture>
                        </div>
                        <div class="card-item__title">Дрянь</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24273_epidemiya-s-antonom-krasovskim-vsyo-o-koronaviruse">
                        <div class="card-item__image">
                            <picture class="card-item__image-img" data-lazy-loaded="">
                                <source media="(max-width: 768px)"
                                        srcset="https://s80658.cdn.ngenix.net/resize/140x100/_stor_/cms/content-contentasset/7/a2/6f4830fc1ecb3015b32f587aa68d07a2-32234-275b93991c624ebe8ed60866086c02db.jpg, https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/7/a2/6f4830fc1ecb3015b32f587aa68d07a2-32234-275b93991c624ebe8ed60866086c02db.jpg 2x">
                                <source media="(min-width: 769px)"
                                        srcset="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/7/a2/6f4830fc1ecb3015b32f587aa68d07a2-32234-275b93991c624ebe8ed60866086c02db.jpg, https://s80658.cdn.ngenix.net/resize/572x410/_stor_/cms/content-contentasset/7/a2/6f4830fc1ecb3015b32f587aa68d07a2-32234-275b93991c624ebe8ed60866086c02db.jpg 2x">
                                <img alt="Эпидемия с Антоном Красовским: всё о коронавирусе"
                                     src="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/7/a2/6f4830fc1ecb3015b32f587aa68d07a2-32234-275b93991c624ebe8ed60866086c02db.jpg">
                            </picture>
                        </div>
                        <div class="card-item__title">Эпидемия с Антоном Красовским: всё
                            о
                            коронавирусе
                        </div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24871_dolina-soblazna">
                        <div class="card-item__image">
                            <picture class="card-item__image-img" data-lazy-loaded="">
                                <source media="(max-width: 768px)"
                                        srcset="https://s80658.cdn.ngenix.net/resize/140x100/_stor_/cms/content-contentasset/9/b3/9885e497326406b1d2f161e3aab289b3-40277-081255b084b548e28f6432703a837ed7.jpg, https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/9/b3/9885e497326406b1d2f161e3aab289b3-40277-081255b084b548e28f6432703a837ed7.jpg 2x">
                                <source media="(min-width: 769px)"
                                        srcset="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/9/b3/9885e497326406b1d2f161e3aab289b3-40277-081255b084b548e28f6432703a837ed7.jpg, https://s80658.cdn.ngenix.net/resize/572x410/_stor_/cms/content-contentasset/9/b3/9885e497326406b1d2f161e3aab289b3-40277-081255b084b548e28f6432703a837ed7.jpg 2x">
                                <img alt="Долина соблазна"
                                     src="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/9/b3/9885e497326406b1d2f161e3aab289b3-40277-081255b084b548e28f6432703a837ed7.jpg">
                            </picture>
                        </div>
                        <div class="card-item__title">Долина соблазна</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24857_govards-end">
                        <div class="card-item__image">
                            <picture data-lazy="true" class="card-item__image-img">
                                <source media="(max-width: 768px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/140x100/_stor_/cms/content-contentasset/f/17/93028b735624ed3e52a62bac7cc41f17-39939-26dd9e97be1849b1a6d02aeb52af8ed9.jpg, https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/f/17/93028b735624ed3e52a62bac7cc41f17-39939-26dd9e97be1849b1a6d02aeb52af8ed9.jpg 2x">
                                <source media="(min-width: 769px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/f/17/93028b735624ed3e52a62bac7cc41f17-39939-26dd9e97be1849b1a6d02aeb52af8ed9.jpg, https://s80658.cdn.ngenix.net/resize/572x410/_stor_/cms/content-contentasset/f/17/93028b735624ed3e52a62bac7cc41f17-39939-26dd9e97be1849b1a6d02aeb52af8ed9.jpg 2x">
                                <img data-src="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/f/17/93028b735624ed3e52a62bac7cc41f17-39939-26dd9e97be1849b1a6d02aeb52af8ed9.jpg"
                                     alt="Говардс Энд"></picture>
                        </div>
                        <div class="card-item__title">Говардс Энд</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24863_shou-poshlo-ne-tak">
                        <div class="card-item__image">
                            <picture data-lazy="true" class="card-item__image-img">
                                <source media="(max-width: 768px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/140x100/_stor_/cms/content-contentasset/e/db/106b231634faea9bab61423bdb906edb-39952-4b5d803bfe3d4c4fb35a7365b99bdbeb.jpg, https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/e/db/106b231634faea9bab61423bdb906edb-39952-4b5d803bfe3d4c4fb35a7365b99bdbeb.jpg 2x">
                                <source media="(min-width: 769px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/e/db/106b231634faea9bab61423bdb906edb-39952-4b5d803bfe3d4c4fb35a7365b99bdbeb.jpg, https://s80658.cdn.ngenix.net/resize/572x410/_stor_/cms/content-contentasset/e/db/106b231634faea9bab61423bdb906edb-39952-4b5d803bfe3d4c4fb35a7365b99bdbeb.jpg 2x">
                                <img data-src="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/e/db/106b231634faea9bab61423bdb906edb-39952-4b5d803bfe3d4c4fb35a7365b99bdbeb.jpg"
                                     alt="Шоу пошло не так"></picture>
                        </div>
                        <div class="card-item__title">Шоу пошло не так</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24690_ya-ischeznu-vo-tme">
                        <div class="card-item__image">
                            <picture data-lazy="true" class="card-item__image-img">
                                <source media="(max-width: 768px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/140x100/_stor_/cms/content-contentasset/d/9b/df6c26c246b3bfa158ee1d4892875d9b-37865-ab7229d544b74d63bf638bf4bfb21178.jpg, https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/d/9b/df6c26c246b3bfa158ee1d4892875d9b-37865-ab7229d544b74d63bf638bf4bfb21178.jpg 2x">
                                <source media="(min-width: 769px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/d/9b/df6c26c246b3bfa158ee1d4892875d9b-37865-ab7229d544b74d63bf638bf4bfb21178.jpg, https://s80658.cdn.ngenix.net/resize/572x410/_stor_/cms/content-contentasset/d/9b/df6c26c246b3bfa158ee1d4892875d9b-37865-ab7229d544b74d63bf638bf4bfb21178.jpg 2x">
                                <img data-src="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/d/9b/df6c26c246b3bfa158ee1d4892875d9b-37865-ab7229d544b74d63bf638bf4bfb21178.jpg"
                                     alt="Я исчезну во тьме"></picture>
                        </div>
                        <div class="card-item__title">Я исчезну во тьме</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24763_mister-bull">
                        <div class="card-item__image">
                            <picture data-lazy="true" class="card-item__image-img">
                                <source media="(max-width: 768px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/140x100/_stor_/cms/content-contentasset/f/37/a93991dde8cfb0713e672c7629d85f37-38929-4b426965724f4d9495059023463d0ba0.jpg, https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/f/37/a93991dde8cfb0713e672c7629d85f37-38929-4b426965724f4d9495059023463d0ba0.jpg 2x">
                                <source media="(min-width: 769px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/f/37/a93991dde8cfb0713e672c7629d85f37-38929-4b426965724f4d9495059023463d0ba0.jpg, https://s80658.cdn.ngenix.net/resize/572x410/_stor_/cms/content-contentasset/f/37/a93991dde8cfb0713e672c7629d85f37-38929-4b426965724f4d9495059023463d0ba0.jpg 2x">
                                <img data-src="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/f/37/a93991dde8cfb0713e672c7629d85f37-38929-4b426965724f4d9495059023463d0ba0.jpg"
                                     alt="Булл"></picture>
                        </div>
                        <div class="card-item__title">Булл</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24739_korporatsiya">
                        <div class="card-item__image">
                            <picture data-lazy="true" class="card-item__image-img">
                                <source media="(max-width: 768px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/140x100/_stor_/cms/content-contentasset/4/b1/21fee19a10dffd7b466693c5482bf4b1-38997-e9b06c4635cb4f5a9ae4415ff4124879.jpg, https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/4/b1/21fee19a10dffd7b466693c5482bf4b1-38997-e9b06c4635cb4f5a9ae4415ff4124879.jpg 2x">
                                <source media="(min-width: 769px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/4/b1/21fee19a10dffd7b466693c5482bf4b1-38997-e9b06c4635cb4f5a9ae4415ff4124879.jpg, https://s80658.cdn.ngenix.net/resize/572x410/_stor_/cms/content-contentasset/4/b1/21fee19a10dffd7b466693c5482bf4b1-38997-e9b06c4635cb4f5a9ae4415ff4124879.jpg 2x">
                                <img data-src="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/4/b1/21fee19a10dffd7b466693c5482bf4b1-38997-e9b06c4635cb4f5a9ae4415ff4124879.jpg"
                                     alt="Корпорация"></picture>
                        </div>
                        <div class="card-item__title">Корпорация</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_21629_sumerechnaya-zona">
                        <div class="card-item__image">
                            <picture data-lazy="true" class="card-item__image-img">
                                <source media="(max-width: 768px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/overlay/140x100/_stor_/cms/content-badge/4/74/7dea362b3fac8e00956a4952a3d4f474-8-b5ab6f49166d4cd48d3f5d91cc8ec427.png/_stor_/cms/content-contentasset/b/60/f9771a084060db3e3bc700ef8b073b60-13215-5aa246d7bbe8495d90b2a7fe6d2bbf43.jpg, https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/4/74/7dea362b3fac8e00956a4952a3d4f474-8-b5ab6f49166d4cd48d3f5d91cc8ec427.png/_stor_/cms/content-contentasset/b/60/f9771a084060db3e3bc700ef8b073b60-13215-5aa246d7bbe8495d90b2a7fe6d2bbf43.jpg 2x">
                                <source media="(min-width: 769px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/4/74/7dea362b3fac8e00956a4952a3d4f474-8-b5ab6f49166d4cd48d3f5d91cc8ec427.png/_stor_/cms/content-contentasset/b/60/f9771a084060db3e3bc700ef8b073b60-13215-5aa246d7bbe8495d90b2a7fe6d2bbf43.jpg, https://s80658.cdn.ngenix.net/overlay/572x410/_stor_/cms/content-badge/4/74/7dea362b3fac8e00956a4952a3d4f474-8-b5ab6f49166d4cd48d3f5d91cc8ec427.png/_stor_/cms/content-contentasset/b/60/f9771a084060db3e3bc700ef8b073b60-13215-5aa246d7bbe8495d90b2a7fe6d2bbf43.jpg 2x">
                                <img data-src="https://s80658.cdn.ngenix.net/overlay/286x205/_stor_/cms/content-badge/4/74/7dea362b3fac8e00956a4952a3d4f474-8-b5ab6f49166d4cd48d3f5d91cc8ec427.png/_stor_/cms/content-contentasset/b/60/f9771a084060db3e3bc700ef8b073b60-13215-5aa246d7bbe8495d90b2a7fe6d2bbf43.jpg"
                                     alt="Сумеречная зона"></picture>
                        </div>
                        <div class="card-item__title">Сумеречная зона</div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24988_golden-boy-verdzhil-ortis-mladshij-vs-samuel-vargas-2">
                        <div class="card-item__image">
                            <picture data-lazy="true" class="card-item__image-img">
                                <source media="(max-width: 768px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/140x100/_stor_/cms/content-contentasset/0/5e/801ae4f886d8a32a7d8a1f439a79b05e-43684-7a189b74020d40eeba494b3089c686d6.jpg, https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/0/5e/801ae4f886d8a32a7d8a1f439a79b05e-43684-7a189b74020d40eeba494b3089c686d6.jpg 2x">
                                <source media="(min-width: 769px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/0/5e/801ae4f886d8a32a7d8a1f439a79b05e-43684-7a189b74020d40eeba494b3089c686d6.jpg, https://s80658.cdn.ngenix.net/resize/572x410/_stor_/cms/content-contentasset/0/5e/801ae4f886d8a32a7d8a1f439a79b05e-43684-7a189b74020d40eeba494b3089c686d6.jpg 2x">
                                <img data-src="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/0/5e/801ae4f886d8a32a7d8a1f439a79b05e-43684-7a189b74020d40eeba494b3089c686d6.jpg"
                                     alt="Golden Boy. Верджил Ортис-младший vs Самуэль Варгас">
                            </picture>
                        </div>
                        <div class="card-item__title">Golden Boy. Верджил Ортис-младший
                            vs
                            Самуэль Варгас
                        </div>
                    </a><a class="card-item card-item-series"
                           href="/watch/series_24812_chlenyi-korolevskoj-semi">
                        <div class="card-item__image">
                            <picture data-lazy="true" class="card-item__image-img">
                                <source media="(max-width: 768px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/140x100/_stor_/cms/content-contentasset/9/a5/c5255e5292c0e4615fe9954419b0b9a5-39871-d68e95362ce6486d972b89c356f38a75.jpg, https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/9/a5/c5255e5292c0e4615fe9954419b0b9a5-39871-d68e95362ce6486d972b89c356f38a75.jpg 2x">
                                <source media="(min-width: 769px)"
                                        data-srcset="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/9/a5/c5255e5292c0e4615fe9954419b0b9a5-39871-d68e95362ce6486d972b89c356f38a75.jpg, https://s80658.cdn.ngenix.net/resize/572x410/_stor_/cms/content-contentasset/9/a5/c5255e5292c0e4615fe9954419b0b9a5-39871-d68e95362ce6486d972b89c356f38a75.jpg 2x">
                                <img data-src="https://s80658.cdn.ngenix.net/resize/286x205/_stor_/cms/content-contentasset/9/a5/c5255e5292c0e4615fe9954419b0b9a5-39871-d68e95362ce6486d972b89c356f38a75.jpg"
                                     alt="Члены королевской семьи"></picture>
                        </div>
                        <div class="card-item__title">Члены королевской семьи</div>
                    </a></div>
                    <button as="button" class="btn btn_primary">Загрузить еще</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}