{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main role="main">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {% for serial in serials %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %} ">
                        <img src=" {{ serial.poster.url }}" alt="">
                        <div class="container">
                            <div class="carousel-caption text-left">
                                <h1>{{ serial.name }}</h1>
                                <p>{{ serial.short_description }}</p>
                                <p><a class="btn btn-lg btn-primary" href="#"
                                      role="button">Смотреть</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button"
               data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="showcase">
            {% for item in showcases %}
                <div class="showcase-item">
                    <div class="video-line" type="nw">
                        <div class="component-header">
                            <div class="component-header__title">{{ item.name }}</div>
                        </div>
                        <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                            <div class="swiper-wrapper"
                                 style="width: 7933.33px; transform: translate3d(0px, 0px, 0px);">
                                {# swiper-slide-next swiper-slide-active#}
                                {% for serial in item.serials.all %}
                                    <div class="swiper-slide video-line__item {% if forloop.first %}swiper-slide-active{% endif %}"
                                         style="width: 376.667px; margin-right: 20px;">
                                        <a
                                                class="card-item card-item-nw"
                                                href="/watch/series_11308_milliardyi">
                                            <div class="card-item__image"><img
                                                    src="{% static "images/play.svg" %}"
                                                    class="card-item__play">
                                                <picture class="card-item__image-img"
                                                         data-lazy-loaded="">
                                                    <img alt="Миллиарды"
                                                         src="{{ serial.poster.url }}">
                                                </picture>
                                            </div>
                                            <div class="card-item__title">{{ serial.name }}</div>
                                        </a></div>
                                {% endfor %}

                            </div>
                            <div class="swiper-button-next" tabindex="0" role="button"
                                 aria-label="Next slide" aria-disabled="false">
                                <div class="swiper-button-next-arrow"></div>
                            </div>
                            <div class="swiper-button-prev swiper-button-disabled"
                                 tabindex="0"
                                 role="button" aria-label="Previous slide"
                                 aria-disabled="true">
                                <div class="swiper-button-prev-arrow"></div>
                            </div>
                            <span class="swiper-notification" aria-live="assertive"
                                  aria-atomic="true"></span></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}